@page
@model WunderVisionBlog2.Pages.Posts.IndexModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    string cdnURL = Configuration["CDNURL"]??"";
    ViewData["Title"] = "Blog";
}
<ul class="list-group">
@foreach (var item in Model.Posts)
{
    <li>
        <a class="card bg-color3" href="/Post/@item.URL">
            <div class="row">
                <div class="col-auto">
                    <img class="thumbnail" src="@cdnURL/@item.ThumbnailURL" alt="@item.Title">
                </div>
                <div class="col">
                    <h3>@item.Title</h3>
                    <h4>@item.Date.ToShortDateString()</h4>
                    <div>@item.Summary</div>
                </div>
            </div>
        </a>
    </li>
}
</ul>