@page "/Post/{url}"
@model WunderVisionBlog2.Pages.Posts.PostModel
@{
    ViewData["Title"] = Model.Post?.Title;
}
<div class="content bg-color3">
    <h2>@Model.Post?.Title</h2>
    @Html.Raw(Model.HTMLContent)
</div>