html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.bg-color1{
  background-color: #363636;
  color:white;
}

.bg-color2{
  background-color: #656565
}

.bg-color3{
  background-color: #f2ecff;
  color: black;
}


body {
  margin-bottom: 60px;
  background-color: #d4d4d4;
  color: white;
}

.content{
  padding: 16px;
  border-radius: 16px;
  box-shadow: 1px 1px 4px black;
}
ul.list-group{
  list-style: none;
}

a{
  color:inherit;
}
a:hover{
  font-weight: bold;
  color:inherit;
}

a.card{
  text-decoration: none;
  color: black;
  margin: 4px;
  padding: 4px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
}
a.card:hover{
  border: 2px dashed black;
  font-weight: inherit;
}

img.icon{
  width: 32px;
  height: 32px;
  border-radius: 4px;
  margin: 2px;
}
img.thumbnail{
  display: block;
  width: 200px;
  height: 200px;
}
.wv-rounded{
  border-radius: 32px;
  box-shadow: 1px 1px 2px black;
}

